* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: bisque;
    font-family: serif;
    padding-top: 100px; 
}


header {
    position: fixed;
    background-color: #6666FF;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    padding: 5px 10px;
    z-index: 1000;
}


aside {
    position: fixed;
    background-color: #99FF99;
    top: 90px; /* justo debajo del header */
    left: 0;
    width: 20%;
    bottom: 20px; /* espacio para footer */
    padding: 10px;
    z-index: 500;
}


main.contenido {
    position: relative;
    background-color: #dd8295;
    margin-left: 20%; /* deja espacio al aside */
    width: 80%;
    min-height: calc(100vh - 110px);
    padding: 20px;
    overflow-y: auto;
}


footer {
    position: fixed;
    background-color: black;
    color: white;
    left: 0;
    width: 100%;
    height: 20px;
    bottom: 0;
    text-align: center;
    z-index: 1000;
}


nav {
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
}

.logo {
    font-size: 30px;
    font-weight: bold;
    font-family: cursive;
    line-height: 70px;
}

.nav-link {
    text-decoration: none;
    color: white;
}

.nav-menu {
    list-style: none;
    display: flex;
    margin-right: 40px;
}

.nav-menu-item {
    font-size: 22px;
    margin: 0 10px;
    line-height: 70px;
}

.menu-item {
    padding: 5px;
    background-color: green;
    border-radius: 10px;
}

.menu-item:hover {
    background-color: black;
}


table {
    background: white;
    border-radius: 10px;
    width: 100%;
}

input, select, textarea {
    border-radius: 6px;
    padding: 6px;
}

button {
    border-radius: 6px;
}


.modal {
    z-index: 20000 !important;
}

.modal-backdrop {
    z-index: 19999 !important;
}